<div class="col-6 col-lg-3 mb-5">
  <div class="item-card rounded-3 p-1">
    <img
      src="<%= element.image_url %> "
      class="card-img-top rounded-3 shadow"
      alt="product"
      style="aspect-ratio: 1/1; height: 1"
      onclick="location.href = '/discover/<%= element._id %>'"
    />
    <div class="card-body bg-light border rounded-3">
      <p class="card-text oswald"><%= element.item_name %></p>
      <span class="ubuntu text-success">$ <%= element.item_price %> </span>
      <p><%= element.item_desc %></p>
    </div>
  </div>
</div>
