<section style="height: 100vh">
  <div class="container">
    <div class="row justify-content-center m-1">
      <div class="col-xl-8 p-4 rounded-3 shadow poppin">
        <div>
          <a href="/admin" class="text-dark">
            <span class="position-absolute"><i class="fa-solid fa-arrow-left fs-2"></i></span>
          </a>
          <div class="text-center">
            <img src="/img/payment/<%= response.platform_name %>.png" alt="" height="40" />
          </div>
        </div>
        <hr />
        <div class="mb-2">
          <div class="ubuntu">Order ID:</div>
          <span><%= response.order_id %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">Username:</div>
          <span><%= response.username %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">Payment Method:</div>
          <span><%= response.payment_type.toUpperCase() %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">Virtual Account Number:</div>
          <span><%= response.va_number %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">Transaction ID:</div>
          <span><%= response.transaction_id %> </span>
        </div>
        <div class="mb-2 text-wrap">
          <div class="ubuntu">Order Time:</div>
          <span><%= response.transaction_time %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">Transaction Status:</div>
          <span><%= response.transaction_status.toUpperCase() %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">Payment Amount:</div>
          <span><%= format.format(response.gross_amount) %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">Platform:</div>
          <span><%= response.platform_name.toUpperCase() %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">1st Address:</div>
          <span><%= response.address1 %> </span>
        </div>
        <div class="mb-2">
          <div class="ubuntu">2nd Address:</div>
          <span><%= response.address2 %> </span>
        </div>
      </div>
    </div>
  </div>
</section>
