<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center mb-3">
          <span class="poppin fs-4">Valid Until</span>
          <br />
          <span><%= response.transaction_time %> </span>
        </div>
        <div class="p-4 border rounded-3 shadow-sm">
          <div class="mb-3 text-center">
            <img src="/img/payment/<%- response.platform_name %>.png" alt="" height="40" />
            <hr />
          </div>
          <div class="mb-4">
            <span class="ubuntu">Virtual Account Number</span>
            <h5 class="poppin fs-4"><%= response.va_number %></h5>
          </div>
          <div class="mb-4">
            <span class="ubuntu">Total Payment</span>
            <h5 class="poppin fs-4 text-success"><%= format.format(response.gross_amount) %></h5>
          </div>
          <div class="text-center">
            <a href="/payment-details/<%= response.order_id %> " style="text-decoration: none">
              <span class="poppin text-orange">Check More Details</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="p-3">
          <div class="row mb-2">
            <div class="col-6">
              <a href="details">
                <button type="button" class="btn w-100 poppin shadow-none text-orange border-orange-sm">
                  Check Status
                </button>
              </a>
            </div>
            <div class="col-6">
              <a href="/discover">
                <button type="button" class="btn text-light bg-orange shadow-none w-100 poppin">Discover More</button>
              </a>
            </div>
          </div>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Accordion Item #1
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the first item's accordion body.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Accordion Item #2
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this
                  being filled with some actual content.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  Accordion Item #3
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
